dataset/*
!dataset/README.txt
test-result/*
!test-result/README.txt
Code/models/*
!Code/models/README.md
Code/wheels/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.whl
*.onnx
*.pt
*.pth
*.ckpt
*.bin
*.pdmodel
*.pdparams
*.pdiparams
*.pdiparams.info
